:root {
  font-family: 'Actor', 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #151515;
  background-color: #f5f6f8;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f6f8;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.app-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-main-container {
  flex: 1;
  overflow-y: auto;
}

